<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.byzx.dao.CarInfoDao">

	<select id="findAllCarInfo"  resultType="CarInfo" >
		select * from t_carinfo where delflag=0
	</select>
	
	<select id="findThisCarInfo" parameterType="String" resultType="CarInfo">
		select * from t_carinfo where delflag=0 and c_location=#{c_location}
	</select>
	
	<select id="findAllCar" parameterType="Map" resultType="CarInfo">
		select
			c_carid,
			c_number,
			c_buytime,
			c_capacity,
			c_state,
			c_location,
			delflag,
			opt_id,
			remark
		from
			t_carinfo
		where
			delflag=0
		and
			c_condition=0
		and
			c_state=0
			<if test="c_number!=null">
				and c_number like concat('%',#{c_number},'%')
			</if>
			order by c_buytime desc
			limit #{pageBean.start},#{pageBean.rows}
	</select>
	
	
	<select id="findAllCarCount" parameterType="Map" resultType="Integer">
		select 
			count(*)
		from
			t_carinfo
		where
			delflag=0
	</select>
	
	<update id="deleteCarInfo" parameterType="Integer">
		update 
			t_carinfo
		set
			delflag=1
		where
			c_carid=#{c_carid}
	</update>
	
	<insert id="saveCarInfo" parameterType="CarInfo">
		insert into
			t_carinfo(
				c_number,
				c_location,
				c_capacity,
				c_state,
				d_id,
				remark,
				delflag,
				c_buytime
			)values(
				#{c_number},
				#{c_location},
				#{c_capacity},
				#{c_state},
				#{d_id},
				#{remark},
				#{delflag},
				#{c_buytime}
			)
			
	</insert>
	
	<update id="updateCarInfo" parameterType="CarInfo">
		update
			t_carinfo
		set
			c_number=#{c_number},
			c_location=#{c_location},
			c_capacity=#{c_capacity},
			c_state=#{c_state},
			d_id=#{d_id},
			remark=#{remark}
		where
			c_carid=#{c_carid}	
	</update>
	
</mapper> 









