<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.byzx.dao.DataDetailInfoDao">

	<resultMap type="DataDetailInfo" id="ResultDataDetilInfo">
		<id property="dataDet_id" column="dataDet_id"></id>
		<result property="data_id" column="data_id"/>
		<result property="dataDet_name" column="dataDet_name"/>
		<result property="createtime" column="createtime"></result>
		<result property="opt_id" column="opt_id"></result>
		<result property="delflag" column="delflag"></result>
		<result property="state" column="state"></result>
		<result property="remark" column="remark"></result>
	</resultMap>
	<select id="findAllDatadetilInfo" parameterType="Integer" resultMap="ResultDataDetilInfo">
		select
			dataDet_id,
			data_id,
			dataDet_name,
			createtime,
			opt_id,
			delflag,
			state,
			remark
		from
			t_datadetilinfo
		where 
			delflag = 0
		and 
			data_id=#{data_id}
	</select>
	
	<select id="findAllDataInfoCount" parameterType="Map" resultType="Integer">
		select
			count(*)
		from
			datadetail_info
		where 
			delflag = 0
			<if test="searchValue!=null">
				and data_name like concat ('%',#{searchValue},'%')
			</if>
	</select>
	
	<insert id="addDatadetilInfo" parameterType="DataDetailInfo">
		insert into
			t_datadetilinfo(
				data_id,
				dataDet_name,
				createtime,
				opt_id,
				delflag,
				state,
				remark
			)values(
				#{data_id},
				#{dataDet_name},
				#{createtime},
				#{opt_id},
				#{delflag},
				#{state},
				#{remark}
			)
	</insert>
	
	<update id="updateDetailInfo" parameterType="DataDetailInfo">
		update 
			t_datadetilinfo
		set
			dataDet_name=#{dataDet_name},
			remark=#{remark}
		where
			dataDet_id=#{dataDet_id}
	</update>
	
	<update id="deleteDataDetailInfoById" parameterType="Integer"> 
		update 
			t_datadetilinfo
		set
			delflag=1
		where
			dataDet_id=#{dataDet_id}
	</update>
	
	<update id="deleteDataInfo" parameterType="Integer">
		update 
			t_datadetilinfo
		set 
			delflag=1
		where
			data_id=#{data_id}
	</update>
	
	<!-- 白浩杰 -->
	<insert id="addDataDetailInfo" parameterType="DataDetailInfo">
		insert into
			t_datadetailinfo(
				data_id,
				dataDet_name,
				createtime,
				delflag,
				state,
				remark,
				opt_id
			) values(
				#{data_id},
				#{dataDet_name},
				#{createtime},
				#{delflag},
				#{state},
				#{remark},
				#{opt_id}
			)
	</insert>
	
	<update id="deleteDataDetailInfo" parameterType="Integer">
		update
			t_datadetailinfo
		set
			delflag=1
		where
			data_id=#{data_id}
	</update>
	
	
	<update id="deleteDataDetailInfoByDdId" parameterType="Integer">
		update
			t_datadetailinfo
		set
			delflag=1
		where
			dataDet_id=#{dataDet_id}
	</update>
	
	<update id="updateDetailInfoByDdId" parameterType="DataDetailInfo">
		update
			t_datadetailinfo
		set
			dataDet_name=#{dataDet_name},
			remark=#{remark}
		where
			dataDet_id=#{dataDet_id}
	</update>
	
	<select id="findAllDataInfoDetail" parameterType="Integer" resultMap="ResultDataDetilInfo">
		select
			dataDet_id,
			data_id,
			dataDet_name,
			createtime,
			remark,
			opt_id
		from
			t_datadetailinfo
		where
			delflag=0
		and
			data_id=#{data_id}
	</select>
	
</mapper>