<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.byzx.dao.SortGoodsInfoDao">

<resultMap type="SortGoodsInfo" id="resultSortGoodsInfo">
	<id property="sg_id" column="sg_id"/>
	<result property="sg_gid" column="sg_gid"/>
	<result property="ss_id" column="ss_id"/>
	<result property="allocation_num" column="allocation_num"/>
	<result property="inventory_num" column="inventory_num"/>
	<result property="use_num" column="use_num"/>
	<result property="scrap_num" column="scrap_num"/>
	<result property="delflag" column="delflag"/>
	<result property="optime" column="optime"/>
	<result property="remark" column="remark"/>
	<result property="opt_id" column="opt_id"/>
</resultMap>


<select id="findAllSSByAddress" parameterType="Integer" resultMap="resultSortGoodsInfo">

		select 
			sg_id,
			sg_gid,
			ss_id,
			allocation_num,
			inventory_num,
			use_num,
			scrap_num,
			delflag,
			opt_id,
			optime,
			remark
		from
			t_sortgoodsinfo
		where
			delflag=0
		and
			ss_id=#{ss_id}
	</select>
	
	<insert id="addSortGoodsInfo" parameterType="SortGoodsInfo">
		insert into t_sortgoodsinfo(
			ss_id,
			allocation_num,
			inventory_num,
			use_num,
			scrap_num,
			delflag,
			opt_id,
			optime,
			remark)
		values(
			#{ss_id},
			#{allocation_num},
			#{inventory_num},
			#{use_num},
			#{scrap_num},
			#{delflag},
			#{opt_id},
			#{optime},
			#{remark}
		)
	</insert>
	
	<update id="deleteSortGoodsInfoBySs_id" parameterType="Integer">
		update
			t_sortgoodsinfo
		set
			delflag=1
		where
			ss_id=#{ss_id}
	</update> 
	
	<update id="updateSortGoodsInfoBySs_id" parameterType="SortGoodsInfo">
		update
			t_sortgoodsinfo
		set
			allocation_num=#{allocation_num},
			inventory_num=#{inventory_num},
			use_num=#{use_num},
			scrap_num=#{scrap_num},
			remark=#{remark}
		where
			sg_id=#{sg_id}
	
	</update>
	
</mapper>