<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.byzx.dao.UserInfoDao">
	
	<resultMap type="UserInfo" id="allUserInfo">
		<id column="user_id" property="user_id"/>
		<result column="user_name" property="user_name"></result>
		<result column="user_pwd" property="user_pwd"></result>
		<result column="user_phone" property="user_phone"></result>
		<result column="user_idCard" property="user_idCard"></result>
		<result column="role_id" property="role_id"></result>
		<result column="state" property="state"></result>
		<result column="delflag" property="delflag"></result>
		<result column="createtime" property="createtime"></result>
		<result column="remark" property="remark"></result>
		<result column="role_name" property="role_name"></result>
	</resultMap>
	
	<select id="findUserInfo" parameterType="UserInfo" resultType="UserInfo">
		select * from t_userinfo where delflag=0 and user_name = #{user_name} and user_pwd = md5(#{user_pwd})
	</select>
	
	<select id="findAllUserInfo" parameterType="Map" resultMap="allUserInfo">
		select 
			u.user_id,
			u.user_name,
			u.user_pwd,
			u.user_phone,
			u.user_idCard,
			u.role_id,
			u.state,
			u.delflag,
			u.createtime,
			u.remark,
			r.role_name
		from 
			t_userinfo u,
			t_roleinfo r
		where 
			u.delflag=0 
		and
			u.role_id=r.role_id 
		<if test="searchByName!=null">
			and u.user_name like concat('%',#{searchByName},'%')
		</if>
		order by 
			u.createtime desc
		limit #{pageBean.start},#{pageBean.rows}
	</select>
	
	<select id="findAllUserInfoCount" parameterType="Map" resultType="Integer">
		select 
			count(*) 
		from 
			t_userinfo 
		where 
			delflag=0 
		<if test="searchByName!=null">
			and user_name like concat('%',#{searchByName},'%')
		</if>
	</select>
	
	<insert id="saveUserInfo" parameterType="UserInfo">
		insert into
			t_userinfo(
				user_name,
				user_pwd,
				user_phone,
				user_idCard,
				role_id,
				state,
				delflag,
				createtime,
				remark
			)
		values(
			#{user_name},
			md5(#{user_pwd}),
			#{user_phone},
			#{user_idCard},
			#{role_id},
			#{state},
			#{delflag},
			#{createtime},
			#{remark}
		)
	</insert>
	
	<select id="findUserPasswordByUId" parameterType="Integer" resultType="String">
		select user_pwd from t_userinfo where user_id=#{user_id}
	</select>
	
	<select id="findUserInfoByUName" parameterType="String" resultType="Integer">
		select count(user_name) from t_userinfo where delflag=0 and user_name=#{user_name}
	</select>
	
	<update id="updateUserInfo" parameterType="UserInfo">
		update
			t_userinfo
		set
			user_name=#{user_name},
			user_pwd=#{user_pwd},
			user_phone=#{user_phone},
			user_idCard=#{user_idCard},
			role_id=#{role_id},
			remark=#{remark}
		where
			user_id=#{user_id}
	</update>
	
	<update id="deleteUserInfo" parameterType="Integer">
		update
			t_userinfo
		set
			delflag=1
		where
			user_id=#{user_id}
	</update>
	
	<!-- 白浩杰 -->
	<select id="findAllUserId" resultType="UserInfo">
		select
			user_id
		from
			t_userinfo
		where
			delflag = 0 
	</select>
</mapper>
